.App {
  padding: 10rem;
  height: 100vh ;
  width: 100vw;
  background: var(--Rose-500);
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  flex-direction: column;
}

html {
  font-size: 62.5%;
}

body {
  font-size:1.6rem;
}
