html {
  background-color: var(--Rose-50);
}
.App {
  padding: 10rem;
  height: 100%;
  width: 100vw;
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
}

html {
  font-size: 62.5%;
}

body {
  font-size:1.6rem;
}