.App {
  padding: 2rem;
  height: 100vh ;
  width: 100vw;
  background: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
}

html {
  font-size: 62.5%;
}

body {
  font-size:1.6rem;
}
