.addToCart {
  display: flex;
  align-items: center;
  justify-content: center;

  align-self: center;

  width: 17rem;
  height: 5rem;

  padding: 1rem;
  margin: -2.5rem;

  background-color: var(--button-blank);

  border: 0.1rem solid var(--button-selected);
  border-radius: 3rem;

  cursor: pointer;
 
  font-family: "Red Hat Text";
  font-weight: 700;

  box-sizing: border-box;
  
  p {
    margin-left: 1rem;
  }
}

.changeAmount {
  display: flex;
  align-items: center;
  justify-content: space-between;

  align-self: center;

  width: 17rem;
  height: 5rem;

  margin: -2.5rem;

  background-color: var(--button-selected);
  color: var(--button-blank);

  border: 0.1rem solid var(--button-selected);
  border-radius: 3rem;

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2.5rem;
    height: auto;
    aspect-ratio: 1 / 1;

    margin: 1.25rem;

    border-radius: 50%;
    border: 0.2rem solid var(--button-blank);

    background: transparent;

    cursor: pointer;

    box-sizing: border-box;

    span {
      font-family: 'Red Hat Text', sans-serif;
      font-weight: 700;

      cursor: pointer;
    }

    svg {
      color: var(--button-blank);
    }
  }

  button:active {
    background-color: var(--button-blank);

    border: 0.2rem solid var(--button-selected);

    svg {
      color: var(--button-selected);
    }
  }
}