.addToCart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  background-color: #aaa;
  border: 1px solid black;
}

.changeAmount {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  background-color: #aaa;
  border: 1px solid black;
}