.itemCard {
  display: flex;
  flex-direction: column;
  height: 65rem;
  border-radius: 2rem;
  background-color: var(--main-bg-color);
}

.itemImage {
  border-radius: 2rem;
  height: 66%;
  width: auto;
}

.itemDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
  text-align: start;
  height: 33%;
}