@font-face {
  font-family:'Red Hat Text', sans-serif;
  src: local('Red Hat Text'),
    url('./fonts/RedHatText-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family:'Red Hat Text', sans-serif;
  src: local('Red Hat Text'),
    url('./fonts/RedHatText-Italic-VariableFont_wght.ttf') format('truetype');
  font-style: italic;
}

:root {
  --red: hsl(14,86%,42%);
  --green: hsl(159, 69%, 94%);

  --Rose-50: hsl(20, 50%, 98%);
  --Rose-100: hsl(13, 31%, 94%);
  --Rose-300: hsl(14, 25%, 72%);
  --Rose-400: hsl(7, 20%, 60%);
  --Rose-500: hsl(12, 20%, 44%);
  --Rose-900: hsl(14, 65%, 9%);
  
  --main-bg-color: white;
  --button-blank: white;
  --button-selected: hsl(14, 86%, 42%);
}